@font-face {
    font-family: 'Hk Grotesk';
    font-style: normal;
    font-weight: 1600;
    src: url('./fonts/HKGrotesk/HKGrotesk-Regular.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
}@media(min-width: 901px) {
    .work__image-box {
        flex: 1;
        margin: 0 0 0 10rem;
    }
}

@media(max-width: 900px) {
    .work__code {
        height: 4rem;
    }
}
html {  
    box-sizing: border-box;
    font-family: 'Hk Grotesk' , serif;
    color: aliceblue;
    
    font-size: 20px;
}
img {
    object-fit: contain;
    max-width: 100%;
    width: 626px;
    height: 404px;
}
.nav {
    display: flex;
    justify-content: flex-end;
    padding: 3rem 0;
}

.nav__items {
    display: flex;
    list-style: none;
}
.nav__link {
    position: relative;
    display: inline-block;
    padding: 1rem 0;
    text-decoration: none;
    color: inherit;
    margin: 10px;
    font-size: 25px;
}

.header {
    background: linear-gradient(rgba(0,0,0, .1), rgba(0,0,0, .4)), 
        url('./images/desert-doom-sand-dunes-dark-background-monochrome-landscape-3440x1440-6409.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
   
}
.work{
    padding-top: 50px;
    background-color: black;
}
.header__text {
    position: absolute;
    top: 50%;
    font-size: 30px;
}
.header__text p {
    margin: 1.5rem 0 3.5rem;
    max-width: 700px;
    font-family: 'Jost', sans-serif;
}
.work__box {
    display: flex;
    align-items: center;
    margin-top: 15%;
}
.work__code {
    display: block;
    height: 3rem;
    
}
.work__links {
    display: flex;
    align-items: center;
}

.work__list {
    list-style-position: inside;
    
}

.row {
    max-width:1180px;
    margin: 0 auto;
}

.work__image-box{
    margin-left: 10%;
}
#projets{
    font-size: 40px;
}

footer {
    text-align: center;
    padding: 6rem 0 3rem;

    background-color: black;
}

.footer__social-links {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    list-style: none;
}

.footer__social-link-item:not(:last-of-type) {
    margin-right: 2rem;
}

.footer__social-image {
    height: 4rem;
}

.footer__github-buttons {
    display: flex;
    justify-content: center;
}

.footer__github-buttons iframe {
    height: 2.5rem;
    width: 84px;
    transform: translateY(3px);
}
a{
    color: aliceblue;
}
#imageLowatem{
    width: 150%;
    height: 150%;

}
