    .work__image-box
 {
        flex: 1;
        margin: 0 0 0 2rem;
  }
  .gallery{
    margin-top: 30px; 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
.imageBas{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.imageHaut{
    margin-left: 20px;
    margin-right: 20px;
}